// Search Bar
$search-bar-colour: rgb(255, 255, 255, 0.85);

// Search Button
$search-button-colour: rgba(182, 215, 190, 0.9);

// NavBar
$backButton-colour: #ADE2C8;

// Logo Variables 
$logo-font-colour: #2C6E49;


// Normal Font Variables
$normal-font-colour: #2C6E49;
$secondary-font-colour:#368558;
$header-font-colour: #2d6a4f;
$title-font-colour: #1b4332;

// Background
$secondary-background-colour: white;
$recipeInfo-div-background: rgba(255, 255, 255, 0.8);