@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

// Font Family
$palanquin-dark: 'Palanquin Dark',
sans-serif;

// Font Weights
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold: 700;

// Font Size
$logo-font-size: 60px;
$RC-title-font-size: 25px;
$RI-header-size: 55px;
$RI-font-size: 45px;
$RI-title-size: 45px;