// Search Bar Div Variables
$search-bar-div-width: auto;

// Search Bar Input
$search-bar-height: 90px;
$search-bar-width: 60%;
$search-border-radius: 50px;
$search-bar-font-size: 30px;

// Search Bar Button 
$search-button-colour: rgba(182, 215, 190, 0.9);
$search-button-text-colour: #2C6E49;


// All Image Borders
$primary-border-radius: 25px;
$image-border-radius: 25px;
$text-border-radius: 50px;

// Screen Size 
$phone-screen-size: 500px;
$tablet-screen-size: 860px;