@import "./variables";

.navBar__main {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    display: inline-flex;
    margin: 0 auto;
}

.nav-link__foodle{
    color: $logo-font-colour;
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: auto;

}

.back{
    font-size: 20px;
    height: 70px;
    width:70px;
    background-color: $backButton-colour;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 50px;
    top: 17.5px;
    // margin-top: 1.5%;
}