@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";


.navBar__main {
    background-color: $secondary-background-colour;
    border-bottom: solid 5px $secondary-font-colour;
    display: inline-flex;
    font-family: $palanquin-dark;
    height: 79px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
        img{
            max-width: 200px;
            max-height: 100px;
            padding-top: 2.5px;
        }
        .back{
            left: 10px;
            max-height:50px;
            min-height: 50px;
            position: absolute;
            top: 13px;
            vertical-align: baseline;
        }

}

// .navBar__foodle{
//     color: $logo-font-colour;
//     font-weight: $bold;
//     font-size: $logo-font-size;
//     line-height: normal;
// }

// .navBar__tagline{
//     color: $secondary-font-colour;
//     font-size: 30px;
//     line-height: 80%;
// }
