@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";


.recipe-card__main{
    margin: 10px;
    display: inline-flex;
    grid-template-columns: auto auto auto;
        a:link {
            text-decoration: none;
        }
}

.recipe-card__image-info {
    background-color: $recipeInfo-div-background;
    border-radius: $primary-border-radius;

    .recipe-card__image{
        border-radius: $primary-border-radius;
        max-height: 230px;
        max-width: 330px;
    }
    .recipe-card__title{
        color: $title-font-colour;
        font-family: $palanquin-dark;
        font-size: $RC-title-font-size;
        font-weight: $bold;

        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        text-align: center;
        vertical-align: center;

        max-width: 330px;
        
    }
    .recipe-card__extra-info{
        color: $secondary-font-colour;
        font-family: $palanquin-dark;
        font-size: $normal-text-font-size;
        font-weight: $regular-weight;
        text-align: center;
    
        align-items: center;
        display: block;
        justify-content: center;
        position: relative;
    
        max-width: 330px;
    
        z-index: 999;
    }

}



