@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";


.recipe-card__main{
    margin: 10px;
    display: inline-flex;
    grid-template-columns: auto auto auto;
}

.recipe-card__image-info {
    background-color: $recipeInfo-div-background;
    border-radius: $primary-border-radius;
    padding: 5px;
}

.recipe-card__image {
    border-radius: $primary-border-radius;
    max-height: 230px;
    max-width: 330px;
}

.recipe-card__title{
    font-family: $palanquin-dark;
    color: $normal-font-colour;
    font-size: $RC-title-font-size;
    font-weight: $bold;

    text-align: center;
    justify-content: center;

    max-width: 330px;

    align-items: center;
    display: block;
    position: relative;
    
    margin: 10px;
}


.recipe-card__extra-info{
    font-family: $palanquin-dark;
    color: $secondary-font-colour;
    font-size: 20px;
    font-weight: $normal-font-colour;

    text-align: center;
    justify-content: center;

    max-width: 330px;

    align-items: center;
    display: block;
    position: relative;
    z-index: 999;
}

a:link {
    text-decoration: none;
}

