@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";

.recipe-info {
    background: url("../images/chopping-board-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $palanquin-dark;
    height: 100%;
    @media screen and (max-width: $phone-screen-size) {
        background-size: cover;
    }
        h1 {
            color: $header-font-colour;
            font-size: $header-font-size;
            font-weight: $semi-bold-weight;
            @media screen and (max-width: $tablet-screen-size) {
                font-size: 30px;
            }
            @media screen and (max-width: $phone-screen-size) {
                font-size: 30px;
                margin: 10px;
            }
        }
}


.recipe-info__title-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    @media screen and (max-width: $tablet-screen-size) {
        margin-left: 50px;
        margin-right: 50px;
        
    }
    @media screen and (max-width: $phone-screen-size) {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .recipe-info__image {
        border-radius: $text-border-radius;
        margin: 10px;
        min-width: 556px;
        max-width: 556px;
        @media screen and (max-width: $tablet-screen-size) {
            max-height: 400px;
            min-height: 200px;
            min-width: 200px;
            max-width: 450px;
        }
        @media screen and (max-width: $phone-screen-size) {
            border-radius: 25px;
        }
    }
    .recipe-info__title {
        align-items: center;
        color: $title-font-colour;
        background: $recipeInfo-div-background;
        border-radius: $text-border-radius;
        display: flex;
        font-size: $RI-title-size;
        font-weight: $bold;
        justify-content: center;
        margin: 10px;
        min-width: 550px;
        max-width: 550px;
        min-height: 350px;
        max-height: 400px;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        @media screen and (max-width: $tablet-screen-size) {
            font-size: 30px;
            min-height: auto;
            max-height: 400px;
            min-width: 200px;
            max-width: 400px;
        }
        @media screen and (max-width: $phone-screen-size) {
            border-radius: 25px;
            font-size: 25px;
        }
    }
}



.recipe-info__key-facts,
.recipe-info__ingredients-list,
.recipe-info__dish-wine{
    background: $recipeInfo-div-background;
    border-radius: $text-border-radius;
    color: $secondary-font-colour;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    font-size: $RI-normal-font-size;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 5px;
    }
    @media screen and (max-width: $phone-screen-size) {
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
        li {
            display: inline-flex;
            margin: 20px;
            text-align: center;
            @media screen and (max-width: $tablet-screen-size) {
                margin: 5px;
                text-align: left;
                justify-content: center;
            }
        p {
            display: inline-flex;
            margin: 20px;
            text-align: center;
            @media screen and (max-width: $tablet-screen-size) {
                margin: 5px;
            }
        }
        }
        ul {
            display: contents;
            margin: 20px;
            text-align: center;

            @media screen and (max-width: $tablet-screen-size) {
                justify-content: center;
                margin: 5px;
                text-align: left;
            }
        }
}


.recipe-info__header{
    color: $header-font-colour;
    font-size: $header-font-size;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 25px;
    }
}

.recipe-info__summary{
    background: $recipeInfo-div-background;
    border-radius: $text-border-radius;
    color: $secondary-font-colour;
    font-size: $RI-normal-font-size;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    text-align: center;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 15px;
    }
    @media screen and (max-width: $phone-screen-size) {
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

}
.recipe-info__steps{
    background: $recipeInfo-div-background;
    border-radius: $text-border-radius;
    color: $secondary-font-colour;
    font-size: $RI-normal-font-size;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    text-align: left;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
    }
    @media screen and (max-width: $phone-screen-size) {
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.recipe-info__fullText {
    background: $recipeInfo-div-background;
    border-radius: 50px 50px 0px 0px;
    color: $secondary-font-colour;
    font-size: $RI-normal-font-size;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    text-align: center;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 15px;
    }
    @media screen and (max-width: $phone-screen-size) {
        border-radius: 25px 25px 0px 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
}