@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";


.search-results__main{
    font-family: $palanquin-dark;
    margin-left: 10%;
    margin-right: 10%;
    
    .search-results__header{
        color: $header-font-colour;
        font-weight: $semi-bold-weight;
        font-size: $header-font-size;
        margin: 10px;
    }
}


.search-results__card{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.search-results__image{
    border-radius: $search-border-radius;
}

