@import "./variables";

.search-bar__main{
    background: url("../images/banner_image.png");
    background-size: cover;
    display: flex;
    position: sticky;

    width: $search-bar-div-width;
    font-family: $palanquin-dark;

    justify-content: center;
    flex-direction: column;
    position: relative;
    vertical-align: middle;
}

.search-chip-div{
    padding: 100px;
    font-family: $palanquin-dark;
    font-size: 20px;
}

.chip__main{
    display: inline-flex;
    padding: 10px;
}

.chipButton{
    background-color: $search-bar-colour;
    display: inline-flex;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    margin-bottom: 5px;
}

.chip__ingredient{
    display: inline;
    justify-content: center;
    margin: 10px;
    text-align: center;
    color: $normal-font-colour;

}

.chip__delete{
    font-family: $palanquin-dark;
    font-weight: $semi-bold-weight;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: $search-button-colour;
    color: $search-button-text-colour;
    text-align: center;
}

.search-input{
    background-color: $search-bar-colour;
    border: none;
    border-radius: $search-border-radius;
    outline: none;

    font-size: $search-bar-font-size;
    font-family: $palanquin-dark;
    font-style: normal;
    width: 70%;
    
    text-align: center;
    color: $normal-font-colour;

    margin: auto;
    height: $search-bar-height;   
}

::placeholder{
    color:rgb(44, 110, 73, 0.6);
    font-weight: $semi-bold-weight;
}

.submitButton {
    background-color: $search-button-colour;

    border: none;
    border-radius: $search-border-radius;

    font-family: $palanquin-dark;
    font-size: 22.5px;
    font-weight: $bold;
    color: $search-button-text-colour;
    text-align: center;

    display: flex;
    justify-content: center;
    position: relative;

    width: 15%;
    height: auto;

    margin: auto;
    margin-top: 10px;
    padding: 5px;    
}