@import "./sass-variables/variables";
@import "./sass-variables/fonts";
@import "./sass-variables/colours";


.search-bar__main{
    background: url("../images/banner_image.png");
    background-size: cover;
    display: flex;
    position: relative;

    width: $search-bar-div-width;
    font-family: $palanquin-dark;

    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    @media screen and (max-width: $tablet-screen-size) {
        min-height: 300px;
    }
}

.search-bar__loading{
    align-items: center;
    justify-content: center;
}

.search-chip-div{
    padding: 100px;
    font-family: $palanquin-dark;
    font-size: $secondary-text-font-size;
    @media screen and (max-width: $tablet-screen-size){
        padding: 50px;
        font-size: 20px;
    }
    @media screen and (max-width: $phone-screen-size) {
        font-size: 20px;
        padding: 2px;
        vertical-align: center;
    }
}

.chipButton{
    background-color: $search-bar-colour;
    display: inline-flex;
    border-radius: 50px;
    margin: 10px;
    margin-bottom: 5px;
    @media screen and (max-width: $tablet-screen-size) {
        margin: 5px;
    };
    @media screen and (max-width: $phone-screen-size) {
        margin: 2px;
    };
}

.chip__ingredient{
    display: inline;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: $secondary-font-colour;
    align-items: center;
    align-self: center;

}

.chip__delete, .chip__index{
    font-family: $palanquin-dark;
    font-weight: $semi-bold-weight;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: $search-button-colour;
    color: $secondary-font-colour;
    text-align: center;
    align-items: center;
    align-self: center;
    @media screen and (max-width: $tablet-screen-size) {
        height: 35px;
        width: 35px;
        font-size: 20px;
    }
}

.chip__delete:hover{
    background-color: rgb(255, 170, 170);
}

.chip__delete:active{
    background-color: rgb(255, 118, 118);
}

.search-form {
    @media screen and (max-width: $tablet-screen-size) {
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }
}

.search-bar__form-addButton{
    background-color: $search-bar-colour;
    border: none;
    border-radius: $search-border-radius;
    outline: none;
    display: inline-flex;
    width: 70%;
    @media screen and (max-width: $tablet-screen-size) {
        width: 60%;
        min-width: 450px;
    }
    @media screen and (max-width: $phone-screen-size) {
        align-self: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        max-width: 350px;
        min-width: 350px;
        padding: 10px;
    }

}

.search-bar__add{
    background-color: $search-button-colour;

    border: none;
    border-radius: $search-border-radius;

    font-family: $palanquin-dark;
    font-size: $search-bar-font-size;
    font-weight: $bold;
    color: $primary-font-colour;
    text-align: center;

    width: 10%;
    min-width: 100px;
    height: 92px;

    float: right;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 25px;
        height: 61.5px;
        width: 5%;
    }
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 25px;
        height: 62px;
        width: auto;
    }
    
}

.search-bar__add:hover {
    background-color: rgba(143, 209, 159, 0.9);
}

.search-bar__add:active{
    background-color: rgba(140, 255, 169, 0.9);
}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;

    font-size: $search-bar-font-size;
    font-family: $palanquin-dark;
    font-style: normal;
    width: 100%;
    
    text-align: center;
    color: $secondary-font-colour;
    height: $search-bar-height; 
    @media screen and (max-width: $tablet-screen-size) {
        height: 60px;
        justify-content: center;
        vertical-align: center;
        align-items: center;
        width: 100%;
        font-size: 25px;
        min-width: 40%;
    }
    @media screen and (max-width: $phone-screen-size) {
        min-width: auto;
    }
    @media screen and (max-width: $phone-screen-size) {
        min-width: 10px;
    }
      
}

::placeholder{
    color:rgb(44, 110, 73, 0.6);
    font-weight: $semi-bold-weight;
    text-align: center;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 30px;
        padding: 20px;
    }
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 24px;
    }
}

.searchButton__active{
    background-color: $search-button-enabled;

    border: none;
    border-radius: $search-border-radius;

    font-family: $palanquin-dark;
    font-size: $search-bar-font-size;
    font-weight: $bold;
    color: $primary-font-colour;
    text-align: center;

    display: flex;
    justify-content: center;
    position: relative;

    width: 15%;
    height: auto;

    margin: auto;
    margin-top: 10px;
    padding: 5px;    

    transition-duration: 0.4s;
    @media screen and (max-width: $tablet-screen-size) {
        font-size: 25px;
        min-width: 100px;
    }

    @media screen and (max-width: $phone-screen-size) {
        margin-top: 0;
    }
}


.searchButton__active:hover{
    background-color: rgba(143, 209, 159, 0.9);
}
.searchButton-active:active {
    background-color: rgba(140, 255, 169, 0.9);
}



.searchButton__disabled{
    background-color: $search-button-disabled;

    border: none;
    border-radius: $search-border-radius;

    font-family: $palanquin-dark;
    font-size: $search-bar-font-size;
    font-weight: $bold;
    color: $disabled-font-colour;
    text-align: center;

    display: flex;
    justify-content: center;
    position: relative;

    width: 15%;
    height: auto;

    margin: auto;
    margin-top: 10px;
    padding: 5px;

    cursor: not-allowed;

    @media screen and (max-width: $tablet-screen-size) {
        font-size: 25px;
        min-width: 100px;
    }
    @media screen and (max-width: $phone-screen-size) {
        margin-top: 0;
    }
}