
.chip {
    display: flex;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 17px;
}

.chip-delete {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10px;
}