// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

// Font Variables
$palanquin-dark: 'Palanquin Dark', sans-serif;

// Font Weights
$regular-weight: 400px;
$medium-weight: 500px;
$semi-bold-weight: 600px;
$bold: 700px;


// Search Bar Div Variables
$search-bar-div-width: auto;

// Search Bar Input
$search-bar-colour: rgb(255, 255, 255, 0.85);
$search-bar-height: 90px;
$search-bar-width: 60%;
$search-border-radius: 50px;
$search-bar-font-size: 30px;

// Search Bar Button 
$search-button-colour: rgba(182, 215, 190, 0.9);
$search-button-text-colour: #2C6E49;

// Logo Variables
$logo-font-colour: #2C6E49;


// Normal Font Variables
$normal-font-colour: #2C6E49;

// Header Variables
$header-font-colour: #1A4301;
$header-font-size: 30px;