@import "./variables";

.searchBar {
    // background-image: url("../images/banner_image3.png");
    backdrop-filter: blur(1.5px);
    height: 344px;
    width: $search-bar-div-width;
    background-size: cover;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 2%;

    font-family: $palanquin-dark;
}

.searchBar-background {
    width: 100%;
    height: 344px;
    object-fit: cover;
    filter: blur(1.5px);
}
.search-form{
    position: relative;
    height: auto;
    margin: 0 auto;
    padding-top: 120px;
}

.search-input{
    background-color: $search-bar-colour;
    border: none;
    border-radius: $search-border-radius;
    outline: none;

    font-size: $search-bar-font-size;
    font-family: $palanquin-dark;
    font-style: normal;
    font-weight: 600px;
    
    text-align: center;
    color: $normal-font-colour;

    position: relative;
    top: -352.5px;


    height: $search-bar-height;
    width: $search-bar-width;    
}

::placeholder{
    color:$normal-font-colour;
    font-weight: $semi-bold-weight;
}

.submitButton {
    background-color: white;

    border: none;
    border-radius: $search-border-radius;

    font-size: 15px;
    font-weight: $semi-bold-weight;
    color: $normal-font-colour;
    text-align: center;

    display: flex;
    justify-content: center;
    position: relative;
    top: -355px;

    width: 15%;
    height: auto;

    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;    
}