@import "./variables";

.search-results__main{
    margin-left: 10%;
    margin-right: 10%;
}

.search-results__header{
    color: $header-font-colour;
    font-family: $palanquin-dark;
    font-weight: $medium-weight;
    font-size: $header-font-size;
    margin-bottom: 3%;
}

.search-results__card{
    column-count: 4;

}

.search-results__image{
    border-radius: $search-border-radius;
    width: 100%;
}

.search-results__title{
    margin-bottom: 10%;
    padding: 10%;
    color: #2C6E49;
    font-size: 16px;
    font-weight: $medium-weight;
    font-family: $palanquin-dark;
    
    display: inline-block;
    position: relative;

    border-radius: $search-border-radius;
    background-color: rgb(255, 255, 255, 0.5);

    width: 180px;
    height: auto;
    text-align: center;
    justify-content: center;
    
}